---
import Layout from '../layouts/Layout.astro';
import Dashboard from '../components/Dashboard';
---

<Layout title="A-Server">
	<div class="container mx-auto px-4 py-8">
		<Dashboard client:visible />
	</div>
</Layout>
